$v-app-loading-text: "Acrarium is loading...";

@import "../valo/valo.scss";

@mixin acratheme {
  @include valo;

  .bordered-gridlayout .v-gridlayout-slot {
    box-shadow: inset -1px -1px 0px 0px black;
    line-height: 1;
    .v-label {
      margin-left: 6px;
      margin-right: 6px;
      pre {
        display: inline;
      }
    }
  }
  .bordered-gridlayout .v-gridlayout-slot:last-child {
    box-shadow: inset -1px 0px 0px 0px black;
  }
  .bordered-gridlayout .v-gridlayout-slot:nth-last-child(2) {
    box-shadow: inset -1px 0px 0px 0px black;
  }

  .bordered-gridlayout .v-panel-content > .v-gridlayout > .v-gridlayout-slot:nth-child(odd) {
    box-shadow: inset 0px -1px 0px 0px black;
  }

  .bordered-gridlayout .v-panel-content > .v-gridlayout > .v-gridlayout-slot:last-child {
    box-shadow: none;
  }

  .no-padding {
    padding: 0;
  }

  $padding: 10px;
  $height: 37px;

  .padding-left {
    padding-left: $padding;
  }

  .padding-top {
    padding-top: $padding;
  }

  .padding-right {
    padding-right: $padding;
  }

  .padding-bottom {
    padding-bottom: $padding !important;
  }

  $margin: 10px;

  .no-margin {
    margin: 0 !important;
  }

  .margin-left {
    margin-left: $margin;
  }

  .margin-top {
    margin-top: $margin;
  }

  .margin-right {
    margin-right: $margin;
  }

  .margin-bottom {
    margin-bottom: $margin;
  }

  .background-light-gray {
    background: lightgray;
  }

  .background-header {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }

  .background-footer {
    background: rgba(48, 64, 84, 0.11);
    border-top: 1px solid rgba(48, 64, 84, 0.21);
  }

  .no-background {
    background: transparent;
  }

  .no-border {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .border-top {
    border-top: 1px solid lightgray;
    border-radius: 0;
  }

  .button-round {
    border-radius: 100%;
    border: none;
    padding: 0;
    width: $height;
    height: $height;
  }

  .v-panel-caption-red-panel-header {
    @include valo-panel-caption-style($background-color: $v-error-indicator-color);
  }

  .stepper {
    width: 185px;
  }

  .center-text {
    text-align: center;
  }

  .max-width-728 {
    max-width: 728px;
  }

  .path-element {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .basic-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .flex-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .flex-item {
      margin: $margin;
    }
  }

  .flex-layout[width-range~="0-727px"] {
    .flex-item {
      width: calc(100% - 20px)  !important;
    }
  }

  .flex-layout[width-range~="728px-1455px"] {
    .flex-item {
      width: calc(50% - 20px) !important;
    }
  }

  .flex-layout[width-range~="1456px-2183px"] {
    .flex-item {
      width: calc(33.3% - 20px) !important;
    }
  }

  .flex-layout[width-range~="2184px-"] {
    .flex-item {
      width: calc(25% - 20px) !important;
    }
  }
}