.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/src/main/resources/VAADIN/widgetsets/
*.css*
local.properties


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**/out

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### NPM ###
**/node_modules
package-lock.json
package.json
webpack.generated.js
pnpm-lock.yaml
pnpmfile.js
.npmrc

### Maven ###
**/target
/target
.flattened-pom.xml