name: release-docker

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Project
        uses: actions/checkout@v3.5.3
        with:
          ref: ${{ github.ref }}
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2.1.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build release
        uses: burrunan/gradle-cache-action@v1
        with:
          job-id: jdk17
          arguments: bootJar
          properties: vaadin.productionMode=true
      - name: Get docker tags
        id: tags
        run: |
          delimiter="$(openssl rand -hex 8)"
          {
            echo "TAGS<<${delimiter}"
            ./listDockerTags.sh
            echo "${delimiter}"
          } >> $GITHUB_OUTPUT
      - name: Build and push docker images
        uses: docker/build-push-action@v4
        with:
          context: "./acrarium"
          push: true
          tags: ${{ steps.tags.outputs.TAGS }}
          platforms: |
            linux/amd64
            linux/arm64/v8