name: release-build

on: 
  push:
    tags:
    - 'v*'

jobs:
  release:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.5
        with:
          ref: ${{ github.ref }}
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11'
      - name: Build release
        uses: burrunan/gradle-cache-action@v1
        with:
          job-id: jdk11
          arguments: bootJar bootWar
          properties: vaadin.productionMode=true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract version
        id: version
        run: echo ::set-output name=value::$(git describe --abbrev=0 | sed -e "s/^v//")
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1.1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: false
      - name: Upload Release War
        id: upload-release-asset-1
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./acrarium/build/libs/acrarium-${{ steps.version.outputs.value }}.war
          asset_name: acrarium-${{ steps.version.outputs.value }}.war
          asset_content_type: application/zip
      - name: Upload Release Jar
        id: upload-release-asset-2
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./acrarium/build/libs/acrarium-${{ steps.version.outputs.value }}.jar
          asset_name: acrarium-${{ steps.version.outputs.value }}.jar
          asset_content_type: application/zip
